*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior:smooth;
    width: 100%;

    min-height: 100%;
    overflow-x: hidden;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 background:#060816;
 color: #cfcfcf;
}



nav{
   
    position: fixed;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
    z-index: 1000;
    height: 10vh;
    width: 100%;
     background:#06081680;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

h1{
    font-weight: 800;
}

#nav{
    display: flex;
    gap: 30px;
}

#nav a{
    text-decoration: none;
     color: #fff;
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
    transition: .3s;
}

#nav a:hover{
    border-bottom-color: #fff;
}

#loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#060816;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

#loader h1{
    font-size:5rem;
    width: 50%;
    text-align: center;
    color:white;
    
    opacity:0;
    animation: welcome 2s ease-in-out forwards;
}
#loader h1 span{
   color: #A855F7;
}

@keyframes welcome{
    0%{
        opacity:0;
        transform:translateY(50px) scale(0.8);
    }

    50%{
        opacity:1;
        transform:translateY(0) scale(1.1);
    }

    100%{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}



#main{
    width: 100%;
    padding-top: 10vh; 
    display: none;  
}



#home{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#left{
    width: 50%;
    padding-left: 90px;
}

#right{
     height: 90vh; 
     width: 50vw; 
}
img{ 
    height: 60vh; 
}

#home h1{
    font-size: 5rem;
    font-weight: 500;
}

#element{
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 20px;
}

#left p{
    font-size: 1.8rem;
    margin-top: 30px;
    max-width: 650px;
}


#inp{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.btn{
    width: 140px;
    height: 45px;
    padding:12px 26px;
background:#10182B;
color:#E2E8F0;
border:1px solid #1E293B;
border-radius:12px;
cursor:pointer;
transition:.4s;
}

.btn:hover{
   background:linear-gradient(135deg,#2563EB,#8B5CF6);
color:#fff;
border-color:#8B5CF6;
transform:translateY(-5px);
box-shadow:0 15px 35px rgba(37,99,235,.35),
0 15px 40px rgba(139,92,246,.35);
}



#butn{
    margin-top: 35px;
}

#button{
    width: 180px;
    height: 50px;
   background:linear-gradient(135deg,#2563EB,#8B5CF6);
color:#fff;
border:none;
padding:15px 35px;
border-radius:12px;
cursor:pointer;
transition:.4s;
box-shadow:0 10px 30px rgba(139,92,246,.35);

  
}
#button:hover{

background:linear-gradient(135deg,#3B82F6,#A855F7);
transform:translateY(-5px);
box-shadow:0 20px 50px rgba(139,92,246,.45);

}


#about{
    width: 100%;
    min-height: 85vh;
   
}
#about h1{
    font-size: 10vh;
    font-weight: 600;
    text-align: center;

    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s ease;
}

#about #para{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;

    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s ease;
}

#about h1.show,
#about #para.show{
    opacity: 1;
    transform: scale(1);
}
#about h2{
    font-size: 9vh;
    font-weight: 600;
    width: 35%;
    padding-left: 70px;
    padding-top: 60px;

    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease;
}

#p{
    width: 80%;
    font-size: 1.8rem;
    padding-left: 70px;
    padding-top: 10px;
    margin-top: 15px;

    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease;
}

#about h2.show,
#p.show{
    opacity: 1;
    transform: translateX(0);
}
.resumebtn{
    height: 5vh;
    width: 15vw;
    display: flex;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    margin-top: 19px;
    margin-left: 70px;
    justify-content: center; 
    align-items: center;
    gap: 10px;
   background:linear-gradient(135deg,#2563EB,#8B5CF6);
color:#fff;
transition:.4s;
box-shadow:0 10px 30px rgba(139,92,246,.35);
 opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;

  
}
.resumebtn:hover{

background:linear-gradient(135deg,#3B82F6,#A855F7);
transform:translateY(-5px);
box-shadow:0 20px 50px rgba(139,92,246,.45);

}



.resumebtn.show{
    opacity: 1;
    transform: translateY(0);
}

a{
    text-decoration: none;
}
#skills{
    width:100%;
    min-height:100vh;
    
    color:#fff;
    padding:90px 10%;
}

#skills h2{
    text-align:center;
   font-size: 10vh;
    font-weight: 600;
    margin-bottom:15px;
}



#skills p{
    font-size: 1.5rem;
    text-align:center;
    color:#cfcfcf;
    max-width:700px;
    margin:auto;
    line-height:30px;
    margin-bottom:60px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.skill-card{
    background:linear-gradient(135deg,#0e2352,#8f62f7);
    border-radius:18px;
    padding:35px;
    text-align:center;
    transition:.4s;
    cursor:pointer;

    opacity:0;
    transform:translateY(60px);
}

.skill-card.show{
    opacity:1;
    transform:translateY(0);
}

.skill-card:hover{
    transform:translateY(-12px) scale(1.05);
    box-shadow:0 0 30px #30394b;
}

.skill-card img{
    width:80px;
    height:80px;
    object-fit:contain;
}

.skill-card h3{
    margin-top:25px;
    font-size:22px;
}
.skill-card i{
    font-size:70px;
    color:#8B5CF6;
    transition:.4s;
}

.skill-card:hover i{
    transform:rotate(10deg) scale(1.2);
    color:#06B6D4;
}
#skills h2,
#skills p{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

#skills h2.show,
#skills p.show{
    opacity: 1;
    transform: translateY(0);
}
#project{
    width:100%;
    min-height:100vh;
    padding:100px 8%;
   
}


#project h1{
   font-size: 10vh;
    font-weight: 600;
text-align: center;
    color: white;
margin-bottom: 30px;
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease;
}

#project h1.show{
    opacity: 1;
    transform: translateY(0);
}

.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
   background:linear-gradient(135deg,#0e2352,#8f62f7);
    border-radius:20px;
    padding:30px;
    transition:.4s;
    border:1px solid rgba(255,255,255,.08);
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px #A855F7;
    border-color:#38BDF8;
}

.project-card h2{
    
   color: #140635;
    margin-bottom:15px;
   
}

.project-card p{
    color:#CBD5E1;
    padding-top: 10px;
    letter-spacing: 2px;
  
}
.project-card h2,
.project-card p{
    opacity: 0;
    transform: translateY(30px);
    transition: all .8s ease;
}

.project-card h2.show,
.project-card p.show{
    opacity: 1;
    transform: translateY(0);
}

.tech{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    padding-top: 20px;
}

.tech span{
    padding:8px 18px;
    background:#0F172A;
    color:#A855F7;
    border-radius:50px;
    font-size:14px;
    border:1px solid #A855F7;
}

.project-card:hover .tech span{
    background:#A855F7;
    color:#fff;
}
#contact{
    min-height: 100vh;
    width: 100%;
}

#nameerror{
    display: none;
    color: red;
    font-size: 12px;
}



#emailerror{
    display: none;
    color: red;
    font-size: 12px;
}
#contact{
    min-height: 20vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#contact h1{
     font-size: 10vh;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s ease;
}

#contact h1.show{
    opacity: 1;
    transform: scale(1);
}

#contact p{
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

#contact p.show{
    opacity: 1;
    transform: translateY(0);
}

#contact form{
    padding-top: 20px;
    width: 100%;
    max-width: 700px;
    height: 515px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact input,
#contact textarea{
    width: 100%;
    height: 10vh;
    padding: 15px;
  
    border: 2px solid #334155;
    border-radius: 10px;
    background: #1E293B;
    color: white;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}
#contact input , textarea::placeholder{
    font-size: 20px;
}
#contact input:focus,
#contact textarea:focus{
    border-color: #A855F7;
}

#contact textarea{
    resize: none;
}

#contact button{
    width: 340px;
    height: 50px;
   background:linear-gradient(135deg,#2563EB,#8B5CF6);
margin-left: 170px;
color:#fff;
border:none;
padding:15px 35px;
border-radius:12px;
cursor:pointer;
transition:.4s;
box-shadow:0 10px 30px rgba(139,92,246,.35);

  
}
#contact button:hover{

background:linear-gradient(135deg,#3B82F6,#A855F7);
transform:translateY(-5px);
box-shadow:0 20px 50px rgba(139,92,246,.45);

}
#contact small{
    color: #ef4444;
    display: none;
}
#platform{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
   
}

#platform a{
    width: 60px;
    height: 60px;
    background: #1E293B;
    color: white;
    border: 2px solid #A855F7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
   margin-bottom: 50px;
    transition: all 0.3s ease;
}

#platform a:hover{
    background:#A855F7;
    color: #0F172A;
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 0 20px #A855F7;
}
@media (max-width:600px){

nav{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: auto;
    padding: 15px 20px;
    border-radius: 18px;
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,.15);
    flex-direction: column;
    gap: 15px;
}

nav h1{
    font-size: 1.8rem;
}

#nav{
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:18px;
}

#nav a{
    font-size:.95rem;
    color:#000;
    padding-bottom:5px;
}

#main{
    padding-top:150px;
}


#home{
    flex-direction:column-reverse;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    gap:35px;
}

#left,
#right{
    width:100%;
    padding:0;
}

#right{
    height:auto;
}

#right img{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:50%;
    box-shadow:0 20px 60px rgba(0,0,0,.2);
}

#home h1{
    font-size:2.5rem;
    line-height:1.2;
}

#element{
    font-size:1.4rem;
}

#left p{
    font-size:1rem;
    line-height:1.8;
    margin-top:20px;
}

#inp{
    justify-content:center;
    gap:12px;
}

.btn{
    width:auto;
    padding:12px 18px;
    font-size:.9rem;
}

#butn{
    display:flex;
    justify-content:center;
}

#button{
    width:190px;
}



#about{
    padding:70px 20px;
}

#about h1{
    font-size:2.4rem;
}

#about #para{
    font-size:1rem;
}

#about h2{
    width:100%;
    padding:0;
    margin-top:40px;
    text-align:center;
    font-size:2rem;
}

#p{
    width:100%;
    padding:0;
    text-align:center;
    font-size:1rem;
    line-height:1.9;
}

.resumebtn{
    width:220px;
    height:50px;
    margin:30px auto;
}



#skills{
    padding:70px 20px;
}

#skills h2{
    font-size:2.4rem;
}

#skills p{
    font-size:.95rem;
    line-height:1.8;
}

.skills-container{
    grid-template-columns:1fr;
}

.skill-card{
    padding:30px;
}

 #project,
    #contact{
        padding:80px 40px;
    }

    #project h1,
    #contact h1{
        font-size:55px;
    }

    .projects-container{
        grid-template-columns:repeat(2,1fr);
    }

    #contact form{
        max-width:600px;
    }

}



